body {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}

/* ヘッダー */
.header{
    height:60px;              
    padding:0 20px;
    display:flex;
    align-items:center;
    background:#000;
    border-bottom:1px solid #eee;
}

.logo img{
    height:28px;              
}

.logo{
    font-size:20px;         
    font-weight:bold;
}

/* メイン */
.container {
    width: 500px;
    margin: 60px auto;
    text-align: center;
}

.title {
    margin-bottom: 40px;
    font-size: 22px;
}

/* フォーム */
.form {
    text-align: left;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* ボタン */
.btn {
    width: 100%;
    background: #ff5b5b;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

/* ログインリンク */
.link {
    margin-top: 20px;
}

.link a {
    color: #007bff;
    text-decoration: none;
}
