body {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}

/* ヘッダー */
.header{
    height:60px;              
    padding:0 20px;
    display:flex;
    align-items:center;
    background:#000;
    border-bottom:1px solid #eee;
}

.logo img{
    height:28px;              
}

.logo{
    font-size:20px;         
    font-weight:bold;
}

/* メイン */
.container {
    width: 100%;
    max-width: 520px;   
    margin: 60px auto;
    padding: 0 20px;    
    text-align: center;
}

.title {
    margin-bottom: 40px;
    font-size: 22px;
}

/* フォーム */
.form {
    text-align: left;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.form-group {
    width: 100%;

}

.form-group input,
.form-group .btn {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

/* ボタン */

.btn {
    width: 100%;
    box-sizing: border-box;  
    background: #ff5b5b;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

/* ログインリンク */
.link {
    margin-top: 20px;
}

.link a {
    color: #007bff;
    text-decoration: none;
}

@media (min-width:768px) and (max-width:850px){

    .container{
        max-width: 480px;
        margin: 50px auto;
    }

    .title{
        font-size: 24px;
    }

    .form input{
        padding: 13px;
        font-size: 16px;
    }

    .btn{
        padding: 15px;
        font-size: 17px;
    }
}


/* ==========================================
   ▼ PC対応（1400〜1540px）
========================================== */
@media (min-width:1400px) and (max-width:1540px){

    .container{
        max-width: 600px;
        margin: 80px auto;
    }

    .title{
        font-size: 26px;
        margin-bottom: 50px;
    }

    .form input{
        padding: 14px;
        font-size: 16px;
    }

    .btn{
        padding: 16px;
        font-size: 18px;
    }
}


